# Jupyter Notebook - to run and write code interactively
notebook

# Numpy - numerical operations
numpy

# Pandas - data manipulation and analysis
pandas

# Matplotlib - basic visualizations
matplotlib

# Seaborn - statistical data visualization
seaborn

# Scikit-learn - evaluation metrics (e.g., classification report, confusion matrix)
scikit-learn

# TensorFlow - building and training deep learning models
tensorflow

# Keras - high-level deep learning API (now part of TensorFlow)
keras

# OpenCV - image processing and manipulation
opencv-python

# tqdm - progress bars for loops and training
tqdm

# Pillow - image loading and saving
Pillow

# glob2 - for file path pattern matching
glob2

# Kaggle - for downloading dataset via Kaggle API
kaggle



#How to Use:--- Install using the command:
pip install -r requirements.txt

